#songSpot{
    position: relative;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

#playlistItem {
    padding: 10px;
    margin: 5px;
    box-sizing: border-box;
    font-size: 25px;
    /* border: 1px solid white; */
}

#album{
    margin-top: 8px;
}

#songTitle {
    position: absolute;
    bottom: 0px;
    font-size: 1rem;
    font-weight:bolder;
    color: white;
    background-color: black;
    border-radius: 20px;
    padding:7px;
    width:50%;
    

}